# Rename this file to .env and then environment variables go here,
# can be read by `python-dotenv` package:
#
#   `src/script.py`
#   ----------------------------------------------------------------
#    import dotenv
#
#    project_dir = os.path.join(os.path.dirname(__file__), os.pardir)
#    dotenv_path = os.path.join(project_dir, '.env')
#    dotenv.load_dotenv(dotenv_path)
#   ----------------------------------------------------------------
#
# DO NOT ADD THIS FILE TO VERSION CONTROL!


# Set when using vllm based in-process models
# VLLM_DOWNLOAD_DIR=...

# Set when using access-restricted models from Huggingface
# HF_TOKEN=...

# Set when using the OpenAI API
# OPENAI_API_KEY=...
