{%- for message in messages %}
    {%- set role = message['role']|lower %}
    {%- if role == 'system' %}
        {{- 'System: ' + message['content'] + '\n' }}
    {%- elif role in ['user', 'assistant'] %}
        {{- message['role']|capitalize + ': ' + message['content'] + ('\n' if role == 'user' else eos_token + '\n') }}
    {%- else %}
        {{- raise_exception('Only user, assistant and system roles are supported!') }}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
{{- 'Assistant: ' }}
{%- endif %}
